.customer {
  background-color: #fef2f2;
  margin: 5em 10em 0 10em;
}
.customer-container {
  display: flex;
  height: 25vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}
.customer-name p {
  margin-left: 3em;
  margin-bottom: 1em;
  color: #9ca3af;
}
.customer-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-list img {
  width: 10em;
  height: 3em;
  margin: 1em;
}
