.header-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 2em;
}
.logo {
  background-color: #eeebff;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: block;
}
.logo h3 {
  display: flex;
  color: #7b61ff;
  transform: rotate(30deg);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
}
.nav_list {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  list-style: none;
}
.nav_item a {
  color: #7865ff;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
.nav_item ul {
  list-style: none;
}
.btn {
  color: #3730a3;
  border: 1px solid #3730a3;
  background-color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px 25px;
  margin: 10px;
}
.btn:hover {
  color: #7865ff;
}
.mobile_menu {
  display: none;
}

@media screen and (max-width: 480px) {
  .nav_menu {
    display: none;
  }
  .mobile_menu {
    display: block;
    color: #7865ff;
    font-size: 2em;
  }
}
