.experience {
  margin: 8em 10em 0 10em;
}
.title-experience {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 7em;
}
.title-experience h2 {
  width: 45%;
}
.title-experience span {
  color: #3730a3;
}
.experience-container {
  display: flex;
  justify-content: center;
}
.experience-list {
  width: 33.3%;
}
.experience-item {
  height: 12em;
  margin: 0 0 0 1em;
}
.experience-img {
  width: 100%;
  height: 100%;
}
.experience-item h3 {
  padding: 1em 0 1em 0;
}
.experience-item p {
  color: #6b7280;
  font-size: 0.8em;
  line-height: 1.2em;
  width: 90%;
  padding: 0 0 1.5em 0;
}
.experience-item span {
  color: #3730a3;
  font-size: 1em;
}
