.hero_section {
  margin: 10em;
}
.hero-container {
  display: flex;
  flex-wrap: wrap;
}
.hero-content {
  flex: 50%;
  max-width: 50%;
}
.hero_img {
  flex: 50%;
  max-width: 50%;
  padding: 10px;
  border-radius: 10px;
}
.title {
  width: 100%;
  max-width: 100%;
}
.title-name {
  display: flex;
  align-items: center;
  text-align: center;
}
.line-primary {
  width: 5rem;
  height: 1px;
  background-color: #4338ca;
  border: 1px solid #3730a3;
  font-size: 1em;
  margin: 1em;
}
.title-name h5 {
  color: #3730a3;
  font-size: 2em;
}
.title-info {
  margin: 3em 0 2em 0;
}
.title-info h2 {
  width: 10em;
  font-size: 4em;
  color: #1f2937;
  margin-bottom: 1em;
}
.btn-primary {
  color: white;
  background-color: #3730a3;
}
.title-info p {
  width: 100%;
  color: #6b7280;
  font-size: 1em;
}
.line-gray {
  width: 90%;
  background-color: #e5e7eb;
  border: 1px solid #e5e7eb;
}
.title-name span {
  font-size: 0.5em;
}
.hero_img img {
  width: 100%;
  height: auto;
}
.hero-btn {
  margin-bottom: 1em;
}
.line-gray {
  margin-bottom: 1em;
}
